/**
* File that contains your tailwindcss theme variables
*/

@theme static {
  --font-eveleth-reg: 'Eveleth Clean Regular';
  --font-eveleth-bold: 'Eveleth Bold';
  --font-poppins: 'Poppins';

  --color-tertiary-50: var(--color-teal-50);
  --color-tertiary-100: var(--color-teal-100);
  --color-tertiary-200: var(--color-teal-200);
  --color-tertiary-300: var(--color-teal-300);
  --color-tertiary-400: var(--color-teal-400);
  --color-tertiary-500: var(--color-teal-500);
  --color-tertiary-600: var(--color-teal-600);
  --color-tertiary-700: var(--color-teal-700);
  --color-tertiary-800: var(--color-teal-800);
  --color-tertiary-900: var(--color-teal-900);
  --color-tertiary-950: var(--color-teal-950);
  --color-tertiary: var(--color-teal-500);
}
